SECRET_KEY=
STRIPE_API_KEY=

DEBUG=True/False

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True/False
EMAIL_USE_SSL=True/False

LOCATION=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_URL=
TELEGRAM_TOKEN=
